@use "sass:list";
@use "sass:map";

:root {
  --avatar-xs: 20px;
  --avatar-s: 24px;
  --avatar-sm: 32px;
  --avatar-m: 40px;
  --avatar-l: 48px;
  --avatar-xl: 56px;
  --avatar-xxl: 120px;
}

$sizearray: (
  'x-small': (
    // height
    var(--avatar-xs),
    // font size
    var(--text-body-s),
    // icon font size
    var(--caption-s),
    // border radius
    4px,
    // content padding
    6px
  ),
  'small': (
    var(--avatar-s),
    var(--text-body-s),
    var(--caption-s),
    6px,
    6px
  ),
  'default': (
    var(--avatar-sm),
    var(--font-size),
    var(--text-body-s),
    6px,
    8px
  ),
  'medium': (
    var(--avatar-m),
    var(--text-body-s),
    var(--text-body-m),
    8px,
    8px
  ),
  'large': (
    var(--avatar-l),
    var(--text-body-m),
    var(--text-body-l),
    10px,
    8px
  ),
  'x-large': (
    var(--avatar-xl),
    var(--text-body-l),
    var(--text-body-x),
    10px,
    12px
  ),
  'extra-large': (
    var(--avatar-xxl),
    0px,
    calc(var(--font-size) * 3),
    12px,
    0
  ),
);

body {
  .ld-avatar {
    position: relative;
    padding: 0 !important;

    &.v-btn {
      display: flex;

      & > .v-btn__content {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;

        img, svg {
          width: 100%;
          height: 100%;
          user-select: none;
        }
      }
    }

    .ld-avatar-base {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--medium);
      height: 100%;
      flex-shrink: 0;
      overflow: hidden;
    }

    .ld-avatar-content {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      justify-content: center;
      align-items: flex-start;
      font-family: var(--medium);
      height: 100%;
      overflow: hidden;

      .ld-avatar-content-base {
        display: block;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .ld-avatar-content-hint {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        width: 100%;
        font-family: var(--regular);
        color: var(--grey-d-1);
        font-weight: 400;
      }
    }

    .ld-avatar-append {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding-left: 8px;
      min-width: var(--icon-height);
      height: 100%;
    }

    @mixin avatarsize($size) {
      $values: map.get($sizearray, $size);
      $h: list.nth($values, 1);
      $f: list.nth($values, 2);
      $i: list.nth($values, 3);
      $b: list.nth($values, 4);
      $p: list.nth($values, 5);
      height: $h;

      .ld-avatar-base {
        font-size: $i;
        width: $h;
        border-radius: $b;
      }

      .ld-avatar-content {
        font-size: $f;
        padding: 0 0 0 $p;
      }

      &.ld-avatar--focused {
        &:after {
          width: calc(100% + 8px);
          height: calc($h + 8px);
          border-radius: calc($b + 4px);
        }
      }
    }

    // --------- x-small

    &.ld-avatar--x-small {
      @include avatarsize('x-small');

      .ld-avatar-online {
        bottom: -1px;
        right: -1px;
        width: 3px;
        height: 3px;
        border-radius: 3px;
      }
    }

    // --------- small

    &.ld-avatar--small {
      @include avatarsize('small');

      .ld-avatar-online {
        bottom: -1px;
        right: -1px;
        width: 4px;
        height: 4px;
        border-radius: 4px;
      }
    }

    // --------- default

    &.ld-avatar--default {
      @include avatarsize('default');

      .ld-avatar-online {
        bottom: 0;
        right: 0;
        width: 6px;
        height: 6px;
        border-radius: 6px;
      }

      .ld-avatar-content-hint {
        font-size: var(--font-size);
        line-height: 16px;
      }
    }

    // --------- medium

    &.ld-avatar--medium {
      @include avatarsize('medium');

      .ld-avatar-online {
        bottom: 0;
        right: 0;
        width: 8px;
        height: 8px;
        border-radius: 8px;
      }

      .ld-avatar-content-base {
        line-height: 20px;
      }

      .ld-avatar-content-hint {
        font-size: var(--text-body-s);
        line-height: 20px;
      }
    }

    // --------- large

    &.ld-avatar--large {
      @include avatarsize('large');

      .ld-avatar-online {
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 10px;
      }

      .ld-avatar-content-base {
        margin-bottom: 4px;
      }

      .ld-avatar-content-hint {
        font-size: var(--text-body-s);
      }
    }

    // --------- x-large

    &.ld-avatar--x-large {
      @include avatarsize('x-large');

      .ld-avatar-online {
        bottom: 0;
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 12px;
      }

      .ld-avatar-content-hint {
        font-size: var(--text-body-l);
      }
    }

    // --------- extra-large

    &.ld-avatar--extra-large {
      @include avatarsize('extra-large');

      .ld-avatar-online {
        bottom: 2px;
        right: 2px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }

    &.ld-avatar--theme-light {
      .ld-avatar-base {
        background-color: var(--grey-l-5);
        color: var(--grey-d-1);
      }
    }

    &.ld-avatar--theme-dark {
      .ld-avatar-base {
        background-color: var(--grey-d-1);
        color: var(--white);
      }
    }

    &.ld-avatar--focused {
      &:after {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        display: block;
        border: 2px solid var(--focus);
        opacity: 1;
      }
    }

    .ld-avatar-online {
      display: block;
      position: absolute;
      background-color: var(--success);
      border: 2px solid var(--white);
      box-sizing: content-box;
    }

  }
}