@use "mixins";
@use "functions";

.b-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--input-height);
  min-width: functions.px(16);
  padding: 0 functions.px(3);
  font-family: var(--semibold);
  font-size: var(--text-body-s);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.1s;
  overflow: hidden;

  $parent: functions.getParent(&);

  $outlined: functions.getSelector($parent, '--outlined');

  $primary: functions.getSelector($parent, '--primary');
  $success: functions.getSelector($parent, '--success');
  $warning: functions.getSelector($parent, '--warning');
  $error: functions.getSelector($parent, '--error');
  $grey: functions.getSelector($parent, '--grey');
  $white: functions.getSelector($parent, '--white');

  &#{$primary} {
    border: 1px solid var(--primary);
    background: var(--primary);
    color: var(--white);

    &:hover {
      border: 1px solid var(--primary-d-1);
      background: var(--primary-d-1);
    }

    &:active {
      border: 1px solid var(--primary-d-2);
      background: var(--primary-d-2);
    }
  }

  &#{$primary}#{$outlined} {
    border: 1px solid var(--primary);
    background-color: var(--white);
    color: var(--primary);

    &:hover {
      border: 1px solid var(--primary-d-1);
      background-color: var(--primary-l-6);
      color: var(--primary-d-1);
    }

    &:active {
     border: 1px solid var(--primary-d-2);
     background-color: var(--primary-l-5);
     color: var(--primary-d-2);
    }
  }

  &#{$success} {
    border: 1px solid var(--success-d-1);
    background: var(--success-d-1);
    color: var(--white);

    &:hover {
      border: 1px solid var(--success-d-2);
      background: var(--success-d-2);
    }

    &:active {
      border: 1px solid var(--success-d-3);
      background: var(--success-d-3);
    }
  }

  &#{$success}#{$outlined} {
    border: 1px solid var(--success-d-1);
    background-color: var(--white);
    color: var(--success-d-1);

    &:hover {
      background-color: var(--success-l-6);
      border: 1px solid var(--success-d-2);
      color: var(--success-d-2);
    }

    &:active {
      border: 1px solid var(--success-d-3);
      background-color: var(--success-l-5);
      color: var(--success-d-3);
    }
  }

  &#{$warning} {
    border: 1px solid var(--warning);
    background: var(--warning);
    color: var(--white);

    &:hover {
      border: 1px solid var(--warning-d-1);
      background: var(--warning-d-1);
    }

    &:active {
      border: 1px solid var(--warning-d-2);
      background: var(--warning-d-2);
    }
  }

  &#{$warning}#{$outlined} {
    border: 1px solid var(--warning);
    background-color: var(--white);
    color: var(--warning);

    &:hover {
      border: 1px solid var(--warning-d-1);
      background-color: var(--warning-l-6);
      color: var(--warning-d-1);
    }

    &:active {
      border: 1px solid var(--warning-d-2);
      background-color: var(--warning-l-5);
      color: var(--warning-d-2);
    }
  }

  &#{$error} {
    background: var(--error);
    color: var(--white);

    &:hover {
      background: var(--error-d-1);
    }

    &:active {
      background: var(--error-d-2);
    }
  }

  &#{$error}#{$outlined} {
    border: 1px solid var(--error);
    background-color: var(--white);
    color: var(--error);

    &:hover {
      border: 1px solid var(--error-d-1);
      background-color: var(--error-l-6);
      color: var(--error-d-1);
    }

    &:active {
      border: 1px solid var(--error-d-2);
      background-color: var(--error-l-5);
      color: var(--error-d-2);
    }
  }

  &#{$grey} {
    background: var(--grey-d-1);
    color: var(--white);

    &:hover {
      background: var(--grey-d-2);
    }

    &:active {
      background: var(--grey-d-3);
    }
  }

  &#{$grey}#{$outlined} {
    border: 1px solid var(--grey-d-1);
    background-color: var(--white);
    color: var(--grey-d-1);

    &:hover {
      border: 1px solid var(--grey-d-2);
      background-color: var(--grey-l-6);
      color: var(--grey-d-2);
    }

    &:active {
      border: 1px solid var(--grey-d-3);
      background-color: var(--grey-l-5);
      color: var(--grey-d-3);
    }
  }

  $loader: functions.getSelector($parent, '__loader');

  #{$loader} {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  $content: functions.getSelector($parent, '__content');

  #{$content} {
    display: flex;
    justify-content: center;
  }
}
