@use "sass:list";

:root {
  --checkbox-s: 16px;
  --checkbox-m: 20px;
  --checkbox-l: 24px;
}

$colors: (
  "primary": (
    // default color
    var(--primary),
    // hover color
    var(--primary-d-1),
    // active color
    var(--primary-d-2)
  ),
  "error": (
    var(--error),
    var(--error-d-1),
    var(--error-d-2),
  ),
);

body {
  .b-checkbox {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 20px;

    input[type='checkbox'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    input[type='checkbox'] + .b-checkbox-icon {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: var(--white);
      border: 1px solid var(--grey-l-4);
      border-radius: 4px;
      color: transparent;
      z-index: 1;
    }

    input[type='checkbox']:focus + .b-checkbox-icon {
      svg {
        opacity: 0;
      }
    }

    input[type='checkbox']:checked + .b-checkbox-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      overflow: hidden;
      svg {
        opacity: 1;
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      word-wrap: break-word;
      max-width: 100%;
    }

    &-hint {
      font-family: var(--regular);
      color: var(--grey-d-1);
    }

    @mixin checkboxsize($size, $fontSize) {
      label {
        height: calc($size + 8px);
        width: calc($size + 8px);

        input[type='checkbox'] + .b-checkbox-icon {
          height: $size;
          width: $size;
        }

        input[type='checkbox']:checked + .b-checkbox-icon {
          svg {
            height: calc($size * 0.5);
            width: calc($size * 0.9);
          }
        }
      }

      .b-label-content {
        font-size: $fontSize;
        line-height: calc($fontSize + 6px);
      }

      .b-checkbox-hint {
        font-size: calc($fontSize - 2px);
        line-height: calc($fontSize - 2px + 6px);
      }

      &:not(.b-checkbox--label-to-left) {
        .b-checkbox-hint {
          padding-left: calc($size + 8px + 8px);
        }
      }
    }

    // --------- x-small

    &.b-checkbox--x-small {
      @include checkboxsize(var(--checkbox-s), var(--text-body-s));
    }

    // --------- small

    &.b-checkbox--small {
      @include checkboxsize(var(--checkbox-m), var(--text-body-m));
    }

    // --------- large

    &.b-checkbox--large {
      @include checkboxsize(var(--checkbox-l), var(--text-body-l));
    }

    &:not(.b-checkbox--disabled):not(.b-checkbox--readonly):hover {
      label {
        background-color: var(--shade-05);
        border-radius: 8px;
      }
    }

    &.b-checkbox--focused {
      label {
        background-color: var(--shade-05);
        border-radius: 8px;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
      }
    }

    @mixin checkboxiconcolor($color) {
      background-color: $color;
      border-color: $color;
    }

    @each $color, $values in $colors {
      $d: list.nth($values, 1);
      $h: list.nth($values, 2);
      $a: list.nth($values, 3);
      &.text-#{$color} {
        input[type='checkbox']:checked + .b-checkbox-icon {
          @include checkboxiconcolor($d);
        }

        &:not(.b-checkbox--readonly) {
          input[type='checkbox']:checked + .b-checkbox-icon {
            &:hover {
              @include checkboxiconcolor($h);
            }
          }

          input[type='checkbox']:checked:focus + .b-checkbox-icon {
            @include checkboxiconcolor(var(--focus));
          }

          input[type='checkbox']:checked:active + .b-checkbox-icon {
            @include checkboxiconcolor($a);
          }
        }

        &.b-checkbox--hovered {
          input[type='checkbox']:checked + .b-checkbox-icon {
            @include checkboxiconcolor($h);
          }
        }

        &.b-checkbox--focused {
          label {
            &:after {
              border: 2px solid var(--focus);
            }
          }
        }
      }
    }

    &.b-checkbox--disabled {
      input[type='checkbox'] + .b-checkbox-icon {
        @include checkboxiconcolor(var(--grey-l-5));
        svg {
          opacity: 0;
        }
      }

      input[type='checkbox']:checked + .b-checkbox-icon {
        @include checkboxiconcolor(var(--grey-l-5));
        color: var(--grey-l-2);
        svg {
          opacity: 1;
        }
      }
    }

    &.b-checkbox--readonly {
      .b-label-content {
        color: var(--grey-d-3);
      }
    }

    &.b-checkbox--disabled {
      .b-label-content {
        color: var(--grey-l-2);
      }
    }
  }
}
