@use "sass:math";

$grid: 12;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

.row,
%row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap:wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
}

%columns {
  position:relative;
  width: 100%;
}

@for $i from 1 through $grid {
  .col-#{$i} {
    flex: 0 0 math.percentage(math.div($i, $grid));
    flex-grow: 1;
    max-width: math.percentage(math.div($i, $grid));
  }
}
@for $i from 1 through $grid {
  .col-xs-#{$i}{ @extend %columns;
    @media (min-width: $xs) {
      flex: 0 0 math.percentage(math.div($i, $grid));
      max-width: math.percentage(math.div($i, $grid));
    }
  }
}
@for $i from 1 through $grid {
  .col-sm-#{$i}{ @extend %columns;
    @media (min-width: $sm) {
      flex: 0 0 math.percentage(math.div($i, $grid));
      max-width: math.percentage(math.div($i, $grid));
    }
  }
}
@for $i from 1 through $grid {
  .col-md-#{$i}{ @extend %columns;
    @media (min-width: $md) {
      flex: 0 0 math.percentage(math.div($i, $grid));
      max-width: math.percentage(math.div($i, $grid));
    }
  }
}
@for $i from 1 through $grid {
  .col-lg-#{$i}{ @extend %columns;
    @media (min-width: $lg) {
      flex: 0 0 math.percentage(math.div($i, $grid));
      max-width: math.percentage(math.div($i, $grid));
    }
  }
}
@for $i from 1 through $grid {
  .col-xl-#{$i}{ @extend %columns;
    @media (min-width: $xl) {
      flex: 0 0 math.percentage(math.div($i, $grid));
      max-width: math.percentage(math.div($i, $grid));
    }
  }
}

.row-xl { @extend %row;
  @media (min-width: $xl) {flex-direction: row}
}
.column-xl { display: flex;
  @media screen and (min-width: $xl) {flex-direction: column}
}
.row-xl-reverse { @extend %row;
  @media screen and (min-width: $xl) {flex-direction: row-reverse}
}
.column-xl-reverse { display: flex;
  @media screen and (min-width: $xl) {flex-direction: column-reverse}
}
.row-lg { @extend %row;
  @media (min-width: $lg) {flex-direction: row}
}
.column-lg { display: flex;
  @media (min-width: $lg) {flex-direction: column}
}
.row-lg-reverse { @extend %row;
  @media (min-width: $lg) {flex-direction: row-reverse}
}
.column-lg-reverse { display: flex;
  @media (min-width: $lg) {flex-direction: column-reverse}
}
.row-md { @extend %row;
  @media (min-width: $md) {flex-direction: row}
}
.column-md { display: flex;
  @media (min-width: $md) {flex-direction: column}
}
.row-md-reverse { @extend %row;
  @media (min-width: $md) {flex-direction: row-reverse}
}
.column-md-reverse { display: flex;
  @media (min-width: $md) {flex-direction: column-reverse}
}
.row-sm { @extend %row;
  @media (min-width: $sm) {flex-direction: row}
}
.column-sm {  display: flex;
  @media (min-width: $sm) {flex-direction: column}
}
.row-sm-reverse { @extend %row;
  @media (min-width: $sm) {flex-direction: row-reverse}
}
.column-sm-reverse { display: flex;
  @media (min-width: $sm) {flex-direction: column-reverse}
}
.row-xs { @extend %row;
  @media (min-width: $xs) {flex-direction: row}
}
.column-xs { display: flex;
  @media (min-width: $xs) {flex-direction: column}
}
.row-xs-reverse { @extend %row;
  @media (min-width: $xs) {flex-direction: row-reverse}
}
.column-xs-reverse { display: flex;
  @media (min-width: $xs) {flex-direction: column-reverse}
}

@media (min-width: $xl) {
  .xl-text-left {display: flex; text-align: left !important }
  .xl-text-center {display: flex; text-align: center !important }
  .xl-text-right {display: flex; text-align: right !important }
  .xl-flex-start {display: flex; justify-content: flex-start !important }
  .xl-flex-center {display: flex; justify-content: center !important }
  .xl-flex-end {display: flex; justify-content: flex-end !important }
  .xl-flex-between {display: flex; justify-content: space-between !important }
  .xl-flex-around {display: flex; justify-content: space-around !important }
  .xl-items-start {display: flex; align-items: flex-start !important }
  .xl-items-center {display: flex; align-items: center !important }
  .xl-items-end {display: flex; align-items: flex-end !important }
  .xl-items-baseline {display: flex; align-items: baseline !important }
  .xl-items-stretch {display: flex; align-items: stretch !important }
}

.xl-visible {
  display: none !important;
  @media (min-width: $xl) {
    display: flex !important;
  }
}
.xl-hidden {
  display: flex;
  @media (min-width: $xl) {
    display: none;
  }
}

@media (min-width: $lg) {
  .lg-text-left {display: flex; text-align: left !important }
  .lg-text-center {display: flex; text-align: center !important }
  .lg-text-right {display: flex; text-align: right !important }
  .lg-flex-start {display: flex; justify-content: flex-start !important }
  .lg-flex-center {display: flex; justify-content: center !important }
  .lg-flex-end {display: flex; justify-content: flex-end !important }
  .lg-flex-between {display: flex; justify-content: space-between !important }
  .lg-flex-around {display: flex; justify-content: space-around !important }
  .lg-items-start {display: flex; align-items: flex-start !important }
  .lg-items-center {display: flex; align-items: center !important }
  .lg-items-end {display: flex; align-items: flex-end !important }
  .lg-items-baseline {display: flex; align-items: baseline !important }
  .lg-items-stretch {display: flex; align-items: stretch !important }
}

.lg-visible {
  display: none !important;
  @media (min-width: $lg) {
    display: flex !important;
  }
}
.lg-hidden {
  display: flex;
  @media (min-width: $lg) {
    display: none;
  }
}

@media (min-width: $md) {
  .md-text-left {display: flex; text-align: left !important }
  .md-text-center {display: flex; text-align: center !important }
  .md-text-right {display: flex; text-align: right !important }
  .md-flex-start {display: flex; justify-content: flex-start !important }
  .md-flex-center {display: flex; justify-content: center !important }
  .md-flex-end {display: flex; justify-content: flex-end !important }
  .md-flex-between {display: flex; justify-content: space-between !important }
  .md-flex-around {display: flex; justify-content: space-around !important }
  .md-items-start {display: flex; align-items: flex-start !important }
  .md-items-center {display: flex; align-items: center !important }
  .md-items-end {display: flex; align-items: flex-end !important }
  .md-items-baseline {display: flex; align-items: baseline !important }
  .md-items-stretch {display: flex; align-items: stretch !important }
}

.md-visible {
  display: none !important;
  @media (min-width: $md) {
    display: flex !important;
  }
}
.md-hidden {
  display: flex;
  @media (min-width: $md) {
    display: none;
  }
}

@media (min-width: $sm) {
  .sm-text-left {display: flex; text-align: left !important }
  .sm-text-center {display: flex; text-align: center !important }
  .sm-text-right {display: flex; text-align: right !important }
  .sm-flex-start {display: flex; justify-content: flex-start !important }
  .sm-flex-center {display: flex; justify-content: center !important }
  .sm-flex-end {display: flex; justify-content: flex-end !important }
  .sm-flex-between {display: flex; justify-content: space-between !important }
  .sm-flex-around {display: flex; justify-content: space-around !important }
  .sm-items-start {display: flex; align-items: flex-start !important }
  .sm-items-center {display: flex; align-items: center !important }
  .sm-items-end {display: flex; align-items: flex-end !important }
  .sm-items-baseline {display: flex; align-items: baseline !important }
  .sm-items-stretch {display: flex; align-items: stretch !important }
}

.sm-visible {
  display: none !important;
  @media (min-width: $sm) {
    display: flex !important;
  }
}
.sm-hidden {
  display: flex;
  @media (min-width: $sm) {
    display: none;
  }
}

@media (min-width: $xs) {
  .xs-text-left {display: flex; text-align: left  }
  .xs-text-center {display: flex; text-align: center  }
  .xs-text-right {display: flex; text-align: right  }
  .xs-flex-start {display: flex; justify-content: flex-start  }
  .xs-flex-center {display: flex; justify-content: center  }
  .xs-flex-end {display: flex; justify-content: flex-end  }
  .xs-flex-between {display: flex; justify-content: space-between  }
  .xs-flex-around {display: flex; justify-content: space-around  }
  .xs-items-start {display: flex; align-items: flex-start  }
  .xs-items-center {display: flex; align-items: center  }
  .xs-items-end {display: flex; align-items: flex-end  }
  .xs-items-baseline {display: flex; align-items: baseline  }
  .xs-items-stretch {display: flex; align-items: stretch  }
}

.xs-visible {
  display: none !important;
  @media (min-width: $xs) {
    display: flex !important;
  }
}
.xs-hidden {
  display: flex;
  @media (min-width: $xs) {
    display: none;
  }
}
