@use "functions";
@use "mixins";

.b-input {
  display: flex;
  flex-direction: column;

  $parent: functions.getParent(&);

  $label: functions.getSelector($parent, '__label');

  @include mixins.label($label);

  $input: functions.getSelector($parent, '__input');

  #{$input} {
    grid-area: input;
  }

  @include mixins.input();

  $error: functions.getSelector($parent, '__error');

  @include mixins.error($error);
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--grey-d-3) inset !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--white) !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px var(--grey-d-3) inset !important;
}

input::placeholder {
  color: var(--white);
  opacity: 0.8;
}