@use "sass:selector";
@use "sass:list";
@use "utils";

$loader-xs: 16px;
$loader-s: 24px;
$loader-m: 32px;
$loader-l: 48px;
$loader-xl: 64px;

$loaderSize: $loader-xs, $loader-s, $loader-m, $loader-l, $loader-xl;

$colors: (
  "primary": (var(--primary), var(--primary-l-1)),
  "success": (var(--success), var(--success-l-1)),
  "warning": (var(--warning), var(--warning-l-1)),
  "error": (var(--error), var(--error-l-1)),
  "white": (var(--white), var(--white)),
);

:root {
  --loader-xs: #{$loader-xs};
  --loader-s: #{$loader-s};
  --loader-m: #{$loader-m};
  --loader-l: #{$loader-l};
  --loader-xl: #{$loader-xl};
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  49% {
    opacity: 0.1;
  }
  51% {
    opacity: 0.1;
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 1;
  }
}

@mixin loadersize() {
  $sizearray: ('x-small', 'small', 'large', 'x-large', 'extra-large');
  $parent: utils.getParent(&);

  @at-root {
    $index: 0;
    @each $s in $sizearray {
      $index: $index + 1;
      $prefix: #{selector.append("--", $s)};

      &#{utils.getSelector($parent, $prefix)} {
        $size: list.nth($loaderSize, $index);

        svg {
          margin-top: calc($size / 2 * -1);
          margin-left: calc($size / 2 * -1);
        }

        &#{utils.getSelector($parent, '--dotts')} {
          i {
            &:after {
              border-radius: calc($size / 11);
            }
          }
        }
      }
    }
  }
}

@mixin loadercolor() {
  $parent: utils.getParent(&);

  @at-root {
    @each $color, $values in $colors {
      &.text-#{$color} {
        $selector: utils.getSelector($parent, '--circle');

        &#{$selector} {
          i {
            background: conic-gradient(
              from 90deg,
              rgba(52, 126, 255, 0) 0deg,
              list.nth($values, 1) 180deg,
              list.nth($values, 2) 306.266deg,
              rgba(52, 126, 255, 0) 360deg
            );
          }
        }

        $selector: utils.getSelector($parent, '--dotts');

        &#{$selector} {
          i {
            &:after {
              background-color: list.nth($values, 1);
            }
          }
        }
      }
    }
  }
}

body {
  .ld-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      animation: rotating 1s linear infinite;
    }

    @include loadersize();

    &.ld-loader--transparent {
      background-color: rgba(255, 255, 255, var(--ld-loader-opacity));
    }

    &.ld-loader--dotts {
      i {
        overflow: hidden;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 23%;
        }
      }

      @for $i from 0 through 8 {
        i:nth-child(#{$i + 1}) {
          animation: blink 1s linear #{$i * 0.125}s infinite;
        }
      }
    }

    @include loadercolor();
  }
}
