@use "@ldmjs/treeview/styles";

body {
  .ld-tree-view {
    .ld-tree-view__item {
      font-family: var(--medium);
      font-size: var(--text-body-s);
      color: var(--text);
      min-height: var(--input-s);

      .ld-tree-view__opener {
        color: var(--grey-d-3);
      }
    }
    &--hovered {
      & > ul {
        & > li {
          .ld-tree-view__item {
            &:hover {
              background-color: var(--primary-l-6);
            }
          }
        }
      }
    }

    .ld-tree-view--selected {
      & > .ld-tree-view__item {
        color: var(--primary-d-1);
        background-color: var(--primary-l-5);
      }
    }
  }
}
