$border-radius: 8px !default; // радиус скругления атомарного элемента ui
$icon-height: 24px !default; // размеры обычной иконки

:root {
  --text: var(--grey-d-5);
  --focus: var(--primary-d-1);
  --highlight: var(--grey-d-1);
  --white: hsla(255, 100%, 100%, 100%);
  --border-radius: #{$border-radius};
  --icon-height: #{$icon-height};
}
