@use "fonts";
@use "colors";
@use "shadows";
@use "scroll";
@use "tooltip";
@use "variables";
@use "buttons";
@use "checkbox";
@use "radiogroup";
@use "radiobutton";
@use "switch";
@use "chip";
@use "badge";
@use "breadcrumbs";
@use "loader";
@use "splitter";
@use "tabs";
@use "toggle";
@use "progress";
@use "inputs";
@use "calendar";
@use "animations";
@use "toasted";
@use "dialogs";
@use "pager";
@use "time";
@use "uploader";
@use "step";
@use "slider";
@use "editor";
@use "textviewer";
@use "textmarkup";
@use "expansions";

@use "@dn-web/datatable/styles";

@use 'vuetify' with (
  $color-pack: false,
  $body-font-family: "Roboto Regular",
);

body {
  .v-card {
    background-color: var(--white);

    .v-card-title {
      font-size: inherit;
    }
  }

  .v-menu {
    .v-overlay__content {
      border-radius: var(--border-radius);
      background-color: var(--white);
      box-shadow: var(--shadow-l);

      .v-list {
        background-color: var(--white);

        .v-list-item__overlay {
          background-color: var(--grey-l-6);
        }

        .v-list-item__prepend {
          display: flex;
          align-items: start;
          height: 100%;
        }
      }

      .v-card {
        &.v-card--variant-elevated:not(.elevation-0) {
          box-shadow: var(--shadow-xl) !important;
        }
      }
    }
  }

  .v-list {
    &.v-list--rounded {
      border-radius: var(--border-radius);
    }

    .v-list-item__overlay,
    .v-list-item__underlay {
      display: none;
    }

    .v-list-item {
      color: var(--grey-d-3);
      transition: all 0.1s;
      min-height: var(--input-s);
      &:not(.v-list-item--variant-plain) {
        &:hover {
          background-color: var(--grey-l-6);
          color: var(--text);
        }
      }
      &--active {
        color: var(--primary-d-1);
        &:hover {
          color: var(--primary-d-1);
        }
      }

      .v-list-item__content {
        .v-list-item-title {
          font-family: var(--regular);
          font-size: var(--text-body-s);
          font-weight: 500;
        }
        .v-list-item-subtitle {
          font-family: var(--regular);
          color: var(--grey-d-1);
        }
      }

      &.v-list-item--variant-plain {
        opacity: 1;
      }
    }

    &.v-list--x-small {
      .v-list-item {
        padding: 6px 12px;
      }
    }

    &.v-list--small {
      .v-list-item {
        padding: 8px 12px;
      }
    }

    &.v-list--large {
      .v-list-item {
        padding: 12px 20px;
      }
    }
  }

  .b-label {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .b-label-content {
      color: var(--text);
      line-height: 20px;
    }

    .b-label-reqiured::after {
      content: '*';
      display: inline-block;
      color: var(--error);
    }
  }
}
