@mixin mix-font-face ($font_name, $font_file) {
  font-family: $font_name;
  src: local('O'),
  url('../fonts/#{$font_file}.woff') format('woff'),
  url('../fonts/#{$font_file}.woff2') format('woff2'),
  url('../fonts/#{$font_file}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
